
body
{
    font-family: Verdana;

}

h1
{
    color: #FF5F00;
    background-color: #AFAFAF;
    text-align: center;
}

table
{
    border-collapse: collapse;
    box-shadow: 10px 10px 10px grey;
}

th
{
    color: white;
    background-color: #76B900;
    border-width: thin;
    border-color: black;
    border-style: solid;
}

td
{
    border-width: thin;
    border-color: black;
    border-style: solid;
    padding: 5px;

}

nav
{
    margin-top: 50px;
    margin-bottom: 50px;
}

nav a:hover
{
    background-color: #AFAFAF;
    color: #FF5F00;
}

footer
{
    background-color: #FF5F00;
    color: black;
    text-align: center;
    font-size: smaller;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 5px;

}
section
{
    margin: 80px;
    width: auto;
    padding-bottom: 20px;
}